nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(194, 192, 192);
    height: 3.5rem;
    color: white;
    font-size: x-large;
    letter-spacing: 8px;
}

h1 {
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.home-btn {
    background-color: rgb(51, 235, 51);
}

.login-btn {
    background-color: rgb(67, 129, 244);
}

.register-btn {
    background-color: rgb(70, 90, 0);
}

a {
    text-decoration: none;
}